.about-title {
  display: inline-block;
  text-align: right;
  margin: 35px 0px;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1;
  b {
    display: inline;
  }
  @media (max-width: 374px) {
    margin: 25px 0px;
    font-size: 26px;
  }
}

.about-list {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 20px;

  li {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    img {
      width: 100px;
    }
    p {
      b,
      span {
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 1.2;
      }
      b {
        text-transform: uppercase;
        font-size: 18px;
        padding-bottom: 4px;
      }
    }
  }
}
