.section--form {
  position: relative;
  width: 100%;
  .popup-close {
    top: 1px;
    width: 20px;
    height: 20px;
  }

  .popup__title {
    font-size: 28px;
    margin-top: 30px;
  }
  .popup__subtitle {
    text-transform: uppercase;
  }

  .checkbox--save + span {
    display: inline-flex;
    justify-content: flex-end;
    width: auto;
    font-size: 14px;
    text-transform: uppercase;

    &:before {
      border-radius: 50px;
      border: 4px solid var(--color);
      width: 22px;
      height: 22px;
      left: 4px;
      top: -3.5px;
      background: rgba(0, 0, 0, 0);
    }
  }

  .checkbox--save:checked + span {
    &:before {
      border-radius: 50px;
      width: 22px;
      height: 22px;
      left: 4px;
      top: -3px;
      background: var(--red);
    }
  }

  fieldset {
    border: none;
    .label:first-child {
      .checkbox + span {
        margin-top: 0;
      }
    }

    .inputError {
      display: none !important;
    }
  }
}

.form--page {
  margin-top: 30px;
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.login-menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;

  .login-menu__link {
    opacity: 0.3;
    cursor: pointer;
    &.active {
      opacity: 1;
    }
  }
}

.form-links {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin-top: 10px;
  a {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color);
    font-size: 14px;
    line-height: 1.1;
  }
}
